<nav id="navbar" class="flex  justify-between items-center px-10 py-3 sticky top-0 z-50 bg-[#121417]/80 backdrop-blur-sm">
    <div class="text-[rgb(109,190,69)] font-semibold text-lg leading-tight">
      SEMANGGI<br>FORUM
    </div>
    <div class="space-x-8 text-xs font-semibold uppercase tracking-widest text-[rgb(109,190,69)] ">
      <a href="index.html" class="hover:text-white">HOME</a>
      <a href="about.html" class="hover:text-white">ABOUT</a>
      <a href="project.html" class="hover:text-white">PROJECT</a>
      <a href="system.html" class="hover:text-white">SYSTEM</a>
    </div>
  </nav>
